body {
    background-color: azure;
    margin: 0;
}

.card-framework {
    background-color: rgb(198, 189, 193);
    width: 400px;
    display: flex;
    justify-content: center;
    margin: 0px auto;
}

.card-img-container {
    width: 100%;
    height: auto;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container {
    background-color: whitesmoke;
    width: 80%;
    height: 90%;
    overflow: hidden;
    box-shadow: 0px 10px 15px 5px rgba(0, 0, 0, 0.4);
}

.card-text-container {
    text-align: left;
}

.product-image {
    width: 100%;
    margin: 0;
    display: inline-block;
    font-size: 0px;
}

.card-title {
    font-family: 'Ruda', Sans-Serif;
    font-size: 48px;
    color: rgb(160, 154, 157);
    text-align: center;
}

.fab.icon-twitter {
    font-size: 25px;
    color: rgb(138, 130, 133);
    width: 45px;
    text-align: center;
    line-height: 45px;
    border-radius: 50%;
    border: 2px solid rgb(138, 130, 133);
    margin-left: 20px;
}

.card-description {
    font-family: 'Roboto Slab', Serif;
    font-size: 18px;
    color: rgb(160, 154, 157);
    margin: 20px 15px;
}

.card-price-label {
    font-family: 'Roboto Slab', Serif;
    font-size: 18px;
    color: rgb(160, 154, 157);
    margin: 20px 15px;
}

.card-price {
    font-family: 'Roboto Slab', Serif;
    font-size: 28px;
    color: rgb(138, 130, 133);
    margin: 25px 15px;
}

.product-label {
    font-family: 'Roboto Slab', Serif;
    font-size: 20px;
    margin: 20px 15px;
}

.color-label {
    color:  rgb(160, 154, 157);
}

.size-label {
    color:  rgb(160, 154, 157);
}

.product-color-choice-container {
    width: 100%;
    margin: 20px auto;
    text-align: center;
}

.product-color-choice{
    width: 20px;
    height: 20px;
    margin: 0px 35px;
    border-radius: 50%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
    display: inline-block;
}
.color-choice-1 {
    background-color: aquamarine;
}

.color-choice-2 {
    background-color: coral;
}

.color-choice-3 {
    background-color: hotpink;
}

.product-size-choice-container {
    width: 100%;
    margin: 20px auto;
    text-align: center;
}

.product-size-choice {
    font-family: 'Roboto Slab', Serif;
    font-size: 16px;
    color: rgb(160, 154, 157);
    width: 25px;
    height: 25px;
    margin: 0px 15px;
    border: 1.5px solid rgb(138, 130, 133);
    box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.3);
    display: inline-block;
}

.card-button {
    background-color:  rgb(172, 117, 141) ;
    color: ivory;
    font-family: 'Roboto Slab', Serif;
    font-size: 18px;
    font-weight: bold;
    width: 220px;
    padding: 10px 25px;
    margin: 20px 50px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    text-align: center;
}

.add-to-cart-icon {
    margin-right: 10px;
    vertical-align: middle;
}

.add-to-cart-text {
    vertical-align: middle;
}

.buy-now-icon {
    margin-right: 10px;
    vertical-align: middle;
}

.buy-now-text {
    vertical-align: middle;
}